body, html {
	height: 100%;
}

/* Home page */

.bg {
	background-image: 
	  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("http://i.imgur.com/FdlLCo0.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.text {
	margin-top: 10%;
	color: white;
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
}

h1, h2 {
	text-align: center;
	color: white;
	font-family: Georgia;
}

p {
	font-family: Georgia;
	font-size: 20px;
	text-align: center;
	padding-top: 3%;
}

/* Men 11 */

.pdf {
	font-size: 30px;
}

a: link {
	color: red;
}

